 <%- include('header.ejs') %>
    <%- include('components/navigation.ejs') %>
	<%- include('components/header.ejs') %>


	<%- include('components/map.ejs') %>
	<%- include('components/mostvisited.ejs') %>
	<%- include('components/stories.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


<%- include('footer.ejs') %>