
<%- include('header.ejs') %>

<div class="popup login-popup" id="register">
    <div class="popup__content">
        <div class="popup__left">
            <img src="/assets/img/login.jpg" alt="login photo" class="popup__img">

        </div>
        <div class="popup__right">
            <a href="/#exit-popup" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Регистрация</h2>


            <form action="/users/register" method="POST" class="form login__form">
                <div class="login__form--container">
                  <input
                  class="form__input"
                  type="name"
                  name="name"
                  placeholder="Име"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                  />

                  <input
                    class="form__input"
                    type="email"
                    name="email"
                    placeholder="e-mail"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />


                <input
                  class="form__input"
                  type="password"
                  name="password"
                  placeholder="парола"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />

                <input
                  class="form__input"
                  type="password"
                  name="password2"
                  placeholder="потвърдете паролата"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />


                  <button type="submit" class="btn btn--green ">Регистрация</button>                
                  <a href="/login#login" class="btn btn--green form__link-button">Влезте в профила си</a>
                </div>




            </form>

            <%- include('partials/messages.ejs') %>


        </div>
    </div>
</div>

<%- include('footer.ejs') %>
